<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>store</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!--body part-->
    <section>
        <header>
            <ul>
                <li><a href="#">STORE</a></li>
                <li><a href="../about/index.html">ABOUT</a></li>
                <li><a href="../home/index.html">HOME</a></li>
            </ul>
            <div class="cart">
<a href="#" id="cart-top" class="cart-top" >cart <span class="cart-number">0</span></a>
            </div>
            <h1 id="title">The Generics</h1>
        </header>
    <!--added photo and album -->
<main>
<section id="container-parent">
    <section class="album" id="album">
        <h3 class="title-music">MUSIC</h3>
        <div class="container-product" id="container-product">
            <div class="product" id="product">
                <h4>ALBUM 1</h4>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmWqebMmaIA_P9lrKFfV7cfgrgPnxshGjc5g&usqp=CAU" alt="album cover">
                <br>
                <label>$12.99</label>
                <button class="add-btn" id="add-btn">ADD TO CART</button>
            </div>
            <div class="product" id="product">
                <h4>ALBUM 2</h4>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyxMpmUMINcVdyQLbIL_-Nu5UUv-fRBhqUFg&usqp=CAU" alt="album cover">
                <br>
                <label>$15.99</label>
                <button class="add-btn" id="add-btn">ADD TO CART</button>
        </div>
        <div class="product" id="product">
            <h4>ALBUM 3</h4>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRF02rNK9YpmkNik99JmawSTjrc72o0nnyxDA&usqp=CAU" alt="album cover">
            <br>
            <label>$10.99</label>
            <button class="add-btn" id="add-btn">ADD TO CART</button>
    </div>
    <div class="product" id="product">
        <h4>ALBUM 4</h4>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQx_RZWzdDhfE98Wgga9WvGnx8wRAODgs65vA&usqp=CAU" alt="album cover">
        <br>
        <label>$11.99</label>
        <button class="add-btn" id="add-btn">ADD TO CART</button>
</div>
</div>
<!--added another photo-->
<section class="merch">
    <h3 class="title-merch">Merch</h3>
    <div class="container-merch">
        <div class="product-merch" id="product">
            <h4>T-shirt</h4>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkvO2poGpgjywrCWdUvDNtcvgU57m0Gv1tfg&usqp=CAU" alt="album cover">
            <br>
            <label>$14.9</label>
            <button class="add-btn" id="add-btn">ADD TO CART</button>
        </div>
        <div class="product-merch" id="product">
            <h4>cap</h4>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDQ1gR-GlutL4LZp-Bzy8NIDJNcVJh2lQKkg&usqp=CAU" alt="album cover">
            <br>
            <label>$18.9</label>
            <button class="add-btn" id="add-btn">ADD TO CART</button>
        </div>
    </div>
</section>
  <!--see cart button-->
<div class="see-cart" >
    <button id="see-cart">See The Cart</button>
</div>
    </section>
</section>
</main>
<!--footer setting down side-->
<footer>
    <h2>The Generics</h2>
  <div class="icons">
    <ul>
        <li><a href="https://www.youtube.com"> <img src="https://prasadyash2411.github.io/ecom-website/img/6260efc8fc9a9002669d2f4ad9956cc0.jpg" 
            alt=""> </a></li>
        <li><a href="https://spotify.com">
            <img src="https://prasadyash2411.github.io/ecom-website/img/Spotify%20Logo.png" alt=""> </li>
        </a>
       <li><a href="https://facebook.com">
        <img src="https://prasadyash2411.github.io/ecom-website/img/Facebook%20Logo.png" alt="">
    </a></li>
    </ul>
  </div>

</footer>


    </section>
</body>
</html>