* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    margin: 0;
    padding: 0px;
    padding-bottom: 30px;
    background: rgb(63, 63, 55);;
    color: white;
}

header ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 10px;
    font-size: 18px;
    font-weight: 200;
    border-bottom: 0.1rem solid white;
    position: fixed;
    top: 0%;
    background: black;
    width: 100%;
    z-index: 1;
}

header li {
    margin: 0px 40px;
}

header ul a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

header h1 {
    padding: 40px;
    font-size: 100px;
}
