<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <ul>
            <li><a href="../store/index.html">STORE</a></li>
            <li><a href="../about/index.html">ABOUT</a></li>
            <li><a href="#">HOME</a></li>
        </ul>
        <h1>The Generics</h1>
        <button class="btn-album">Get Our Latest Album</button>
        <button class="btn-play">►</button>
    </header>

    <main>
        <h2>TOURS</h2>
        <div>
            <div class="tour-item">
                <span>NOVEMBER 8</span>
                <span>BLACK PANTHER</span>
                <span>DTE ENERGY MUSIC THEATRE</span>
                <button>BUY TICKETS</button>
            </div>
            <div class="tour-item">
                <span>NOVEMBER 9</span>
                <span>PHONE BHOOT</span>
                <span>DTE ENERGY MUSIC THEATRE</span>
                <button>BUY TICKETS</button>
            </div>
            <div class="tour-item">
                <span>NOVEMBER 10</span>
                <span>BLACK ADAM</span>
                <span>DTE ENERGY MUSIC THEATRE</span>
                <button>BUY TICKETS</button>
            </div>
            <div class="tour-item">
                <span>NOVEMBER 13</span>
                <span>ICC T20 FINAL</span>
                <span>BUDWEISER STAGE</span>
                <button>BUY TICKETS</button>
            </div>
            <div class="tour-item">
                <span>NOVEMBER 14</span>
                <span>KANTARA</span>
                <span>AK-CHIN PAVILION</span>
                <button>BUY TICKETS</button>
            </div>
        </div>
    </main>

    <footer>
        <h2>The Generics</h2>
      <div class="icons">
        <ul>
            <li><a href="https://www.youtube.com"> <img src="https://prasadyash2411.github.io/ecom-website/img/6260efc8fc9a9002669d2f4ad9956cc0.jpg" 
                alt=""> </a></li>
            <li><a href="https://spotify.com">
                <img src="https://prasadyash2411.github.io/ecom-website/img/Spotify%20Logo.png" alt=""> </li>
            </a>
           <li><a href="https://facebook.com">
            <img src="https://prasadyash2411.github.io/ecom-website/img/Facebook%20Logo.png" alt="">
        </a></li>
        </ul>
      </div>
    
    </footer>
</body>

</html>